<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" href="assets/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <title>Blacklist | Api</title>
</head>
<body>
    <center class="container">
        <div class="jumbotron text-center">
            <h1><i class="fa fa-lock"></i>Blacklist Api</h1>
            <a href="/login" class="btn btn-default">login</a>
            <a href="/signup" class="btn btn-default">Sign-up</a>
        </div>
    </center>
    <div class="panel-footer text-center">
        <p><span>&copy;</span>big uncle yemi<span class="fa fa-thumbs-up"></span></p>
    </div>
</body>
</html>
