<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" href="assets/favicon.png">
    <link rel="stylesheet" href="/assets/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css">
    <title>Update | Blacklist</title>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/api">
                Blacklist Api</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-brand" href="/api/search">Find Entry</a>
                </li>
                <li>
                    <a class="navbar-brand" href="/api">Create Entry</a>
                </li>
                <li>
                    <a class="navbar-brand" href="/api/delete">Delete Entry</a>
                </li>
                <li class="active">
                    <a class="navbar-brand" href="/api/update">Update Entry</a>
                </li>
                <li>
                    <a class="navbar-brand" href="/logout">logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <form action="/api/edit/MSISDN" method="put">
                <div class="form-group">
                    <label for="MSISDN">MSISDN :</label>
                    <input type="text" class="form-control" name="MSISDN" id="MSISDN" pattern="^((234)[0-9]{10})$" placeholder="234XXXXXXXXXX">
                </div>
                <div class="form-group">
                    <label for="operator">Operator :</label>
                    <input type="text" class="form-control" name="operator" id="MSISDN">
                </div>
                <div class="form-group">
                    <label for="categories">Categories :</label>
                    <input class="form-control" type="text" name="categories" id="categories">
                </div>
                <input type="submit" value="Update" class="update btn btn-default">
            </form>
        </div>
    </div>
    <footer class="footer text-center">
        <div class="container">
            <p class="text-muted">
                <span>&copy;</span>big uncle yemi
                <span class="fas fa-thumbs-up"></span>
            </p>
        </div>
    </footer>


    <script src="/assets/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script>
        $(document).on('click', '.update', function (e) {
            $.ajax({
                    method: "PUT",
                    url: "/api/update/MSISDN"
                })
                .done(function () {
                    alert("Blacklist updated");
                });
        })
    </script>


    <form action="/api/edit/MSISDN" method="put">
        <fieldset>
            <legend>input CSV value:</legend>
            <label for="MSISDN">MSISDN :</label>
            <input type="text" name="MSISDN" id="MSISDN" pattern="^((234)[0-9]{10})$" placeholder="234XXXXXXXXXX" value="+">
            <br/>
            <label for="operator">Operator :</label>
            <input type="text" name="operator" id="MSISDN">
            <br/>
            <label for="categories">Categories :</label>
            <input type="text" name="categories" id="categories">
            <br/>
            <input type="submit" value="submit">
        </fieldset>
    </form>
</body>

</html>
